/* página inicial */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(91, 50, 28);
}

.logo {
  height: 150px;
}

.contato {
  color: rgb(91, 50, 28);
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  border: 1px solid rgb(91, 50, 28);
  position: relative;
  box-shadow: 0px 0px 10px rgb(91, 50, 28);
}

.contato:hover {
  color: white;
  background: rgb(91, 50, 28);
  box-shadow: 0px 0px 10px rgb(91, 50, 28);
  transition: 0.3s;
}

.sobre-nos {
  color: rgb(91, 50, 28);
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
  border: 1px solid rgb(91, 50, 28);
  position: relative;
  box-shadow: 0px 0px 10px rgb(91, 50, 28);
}

.sobre-nos:hover {
  color: white;
  background: rgb(91, 50, 28);
  box-shadow: 0px 0px 10px rgb(91, 50, 28);
  transition: 0.3s;
}

main {
  margin-top: 20px;
  background: url("assets/4food.png");

  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  display: flex;
  flex-grow: 2;
  justify-content: space-between;

  flex-direction: column;
  padding: 20px;
}

.texto1 {
  padding: 20px;
  padding-left: 45px;
  font-size: 20px;
}

.texto2 {
  padding: 20px;
  padding-left: 45px;
}

.texto2 span {
  color: rgb(91, 50, 28);
}

.container-compras-online {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

.compras-online {
  text-decoration: none;
  font-size: 20px;
  color: rgb(91, 50, 28);
  padding: 20px;
  border: 1px solid rgb(91, 50, 28);
  box-shadow: 0px 0px 10px rgb(91, 50, 28);
}

.compras-online:hover {
  color: white;
  background: rgb(91, 50, 28);
  box-shadow: 0px 0px 10px rgb(91, 50, 28);
  transition: 0.3s;
}

.compras-semanais {
  font-size: 20px;
  text-decoration: none;
  color: rgb(91, 50, 28);
  padding: 20px;
  border: 1px solid rgb(91, 50, 28);
  box-shadow: 0px 0px 10px rgb(91, 50, 28);
}

.compras-semanais:hover {
  color: white;
  background: rgb(91, 50, 28);
  box-shadow: 0px 0px 10px rgb(91, 50, 28);
  transition: 0.3s;
}

footer {
  width: 100%;
  color: rgb(91, 50, 28);
  padding: 20px;

  display: flex;
  gap: 20px;
  flex-direction: column;

  align-items: center;
  border: 1px solid rgb(91, 50, 28);
  position: absolute;
  bottom: 0;
}

footer span {
  color: black;
}

.redes-sociais {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo-sobre {
  background: url("assets/4food.png");
  
}

/* contato */

.content {
  display: flex;
  justify-content: center;
}

.contato1 {
  width: 80%;
  max-width: 500px;
}

.contato1 h3 {
  font-size: 30px;
  text-align: center;
  color: rgb(91, 50, 28);
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.campo {
  padding: 10px;
  margin-bottom: 15px;
  border: 1;
}

textarea {
  height: 150px;
}

/* sobre nós */

.anuncio {
  display: flex;
  justify-content: space-between;
  flex-grow: 5;
  align-items: center;
  flex-direction: row;
  padding: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.anuncio img {
  width: 400px;
  height: 350px;
}

.conteinertexto {
  width: 100%;
  margin-top: -20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid: 1fr / 1fr 1fr;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  /* align-items: center; */
}

.texto-esquerda {
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(91, 50, 28);
  font-size: 10px;
}

.texto-direita {
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(91, 50, 28);
  font-size: 10px;
}

@media screen and (max-width: 900px) {
  header {
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(91, 50, 28);
  }

  main {
    display: flex;
    flex-direction: column;
    background: none;
  }

  .anuncio {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
  }

  .anuncio img {
    width: 80%;
    height: 80%;
  }

  .anuncio:before {
    content: "";
    display: block;
  }

  .conteinertexto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texto-esquerda {
    padding: 20px;
    border: 1px solid rgb(91, 50, 28);
    font-size: 20px;
  }

  .texto-direita {
    padding: 20px;
    border: 1px solid rgb(91, 50, 28);
    font-size: 20px;
  }

  .main-mobile {
    margin-top: 20px;
    background: url("assets/4food.png");

    background-repeat: no-repeat;
    width: 100%;
    background-position-x: -55px;
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    padding-top: 500px;
  }

  footer {
    position: relative;
    text-align: center;
  }

  .redes-sociais {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .logo-sobre {
    width: 500px;
    height: 500px;
    background: url("assets/4food.png");
  }
}
