/* página inicial */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:1280px;
 }

header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid red;
}

.texto1{
    
}

footer{
    padding: 20px;
    width: 1280px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid red;
    position: absolute;
    bottom: 0;
}

footer span{
    color: rgb(112, 112, 112);
}

/* contato */


/* sobre nós */